.pane-holder {
  position: relative;
  overflow: hidden;
  left: 0;
  height: 100%;
  -webkit-transition: left 0.27s cubic-bezier(0.590, -0.010, 0.495, 0.965);;
  transition: left 0.27s cubic-bezier(0.590, -0.010, 0.495, 0.965);;
  -webkit-transform: translate3d(0, 0, 0);
}

.pane-holder > div {
  display: inline-block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.pane-holder > .pane > * {
  min-height: 110%;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}
